.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.content {
    display: flex;
    align-items: start;
    position: relative;
    height: 600px; /* Match the radar chart height */
}

#radarChart {
    width: 600px;
    height: 600px;
    overflow: visible; /* Ensure that text overflowing the SVG boundary is visible */
}

.personality-list {
    flex: 0 1 200px; /* Adjust width here */
    height: 600px; /* Same height as the radar chart */
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%); /* Start hidden */
    transition: transform 0.3s ease-out, visibility 0s 0.3s, opacity 0.3s ease-out; /* Adjust timing to match */
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Start fully transparent */
}

.personality-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.personality-list li {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.personality-list li:hover {
    background-color: #f0f0f0;
}

#resetButton, #togglePersonalityPanel {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover, #togglePersonalityPanel:hover {
    background-color: #0056b3;
}

.show-panel {
    transform: translateX(0); /* Move into view */
    visibility: visible; /* Make visible */
    opacity: 1; /* Fully opaque */
    transition: transform 0.3s ease-out, visibility 0s, opacity 0.3s ease-out; /* Adjust timing to match */
}

#traitSelector {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#traitSelector:focus {
    border-color: #888;
}

#kValue {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#applyKNN {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.axis text {
    font-size: 14px; /* Adjust font size if necessary */
}

#radarChart .axis text {
    transform: translateY(-10px); /* Adjust positioning to ensure text is fully visible */
}

/* Add styles for the word cloud */
#wordCloud {
    width: 300px;
    height: 600px;
    margin-left: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    overflow-y: auto;
}

#selectedWordsBox {
    width: 300px;
    height: 581px;
    margin-left: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
}

#selectedWordsBox h3 {
    margin-top: 0;
}

#selectedWordsList {
    list-style: none;
    padding: 0;
}
